body {
    background-color: #AAA;
}

a, a:hover {
    text-decoration: none;
    color: #FFF;
}

p {
    margin: 0;
    font-size: 1em;
    color: #161446;
    font-weight: bold;
}

section {
    padding-bottom: 1rem;
}

nav {
    background-image: linear-gradient(90deg, #57FF9F, #068EFF);
    position: fixed;
    right: 0;
    left: 0;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style-type: none;
    list-style: none;
    margin: 1.5em 0;
    padding: 0;
    font-weight: bold;
}

h1 {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 5em;
    white-space:pre-wrap;
}

h2 {
    color: #FFFFFF;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 4em;
    padding: 2rem;
    padding-left: 10%;
    display: inline-block;
}

.map {
    margin: auto;
    display: block;
    width: 85%;
    height: 350px;
}

#venue > p, #hotels > p {
    padding-top: 1.5rem;
    display: inline-block;
    float: right;
    width: 350px;
    color: #FFF;
}

.centerText {
    padding: 0 10rem;
}

.link {
    background-color: #56FFB7;
    padding: 10px;
    border-radius: 1px;
    color: #102252;
}

#lastYear > img {
    margin: auto;
    display: block;
    width: 40%;
    height: auto;
}

.speakers {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.speaker {
    padding: 1rem;
    width: 20%;
}

.speaker > img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}

.speakerTitle {
    height: 6em;
    color: #40CBB6;
}

.speakerName {
    height: 3em;
    color: #FFF;
}

.lastYearLinks{
    text-align: center;
}

.footerLinks {
    text-align: center;
}

#welcome {
    padding-top: 6em;
    background-image: linear-gradient(90deg, #57FF9F, #068EFF);
    padding-bottom: 2rem;
}

#welcome > h2 {
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

#welcome > p {
    display: flex;
    justify-content: center;
    color: #3B396B;
    font-size: 1.2em;
}

svg#bigTriangleColor {
  pointer-events: none;
}

#cfp > #bigTriangleColor path {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 2;
}

#cfp {
    background-color: #112B48;
}

#venue > #bigTriangleColor path {
  fill: #112B48;
  stroke: #112B48;
  stroke-width: 2;
}

#venue{
    background-color: #10233F;
}

#hotels > #bigTriangleColor path {
  fill: #10233F;
  stroke: #10233F;
  stroke-width: 2;
}

#hotels{
    background-color: #16375E;
}

#codeOfConduct > #bigTriangleColor path {
  fill: #16375E;
  stroke: #16375E;
  stroke-width: 2;
}

#codeOfConduct{
    background-color: #FFF;
}

#codeOfConduct > h2 {
    color: #000;
}

#lastYear > #bigTriangleColor path {
  fill: #FFF;
  stroke: #FFF;
  stroke-width: 2;
}

#lastYear{
    background-color: #16375E;
}

footer {
    display: block;
    background-image: linear-gradient(90deg, #57FF9F, #068EFF);
}

#curveUpColor path,
#curveDownColor path {
  fill: linear-gradient(90deg, #57FF9F, #068EFF);
  stroke: #0052E6;
  display: block;
}
svg {
    display: block;
}

footer > div {
    background-image: linear-gradient(90deg, #57FF9F, #068EFF);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon {
    width: 35px;
    height: 35px;
}

.emailSubscribe {
    background-color: #13274E;
    padding: 4px;
    border-width: 0;
    color: #FFF;
}

div.apply {
    display: flex;
    justify-content: center;
}

a.apply {
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1.5em;
}

#lastYear > div > h3 {
    color: #FFF;
}

#lastYear > div > div > p {
    color: #5CFF9F;
}
