/*
blue-background: #1D2152
blue-buttons: #0099F7
green: #3DF9AD
*/

body, p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #555;
}

a , a:hover{
    color: inherit;
    text-decoration: inherit;
}

section {
    padding-bottom: 5rem;
}

nav.nav {
    background-color: rgba(16,15,43,0.2);
    position: fixed;
    right: 0;
    left: 0;
}
nav.nav-mobile {
    display: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;
    list-style: none;
    margin: 0;
    margin-left: 1em;
    padding: 0;
}

nav ul li {
    margin: 2em 0.6rem;
    color: #fff;
}

nav ul li:last-child {
    margin-right: 4rem;
}

nav ul li a.nav-lang {
    border-radius: 180px;
    color: #fff;
    padding: 0.6rem 0.7rem;
}

nav ul li a.nav-lang.active {
    background-color: #fff;
    color: #1D2152;
}

nav ul li a.nav-lang.active:hover {
    color: #3DF9AD;
}

nav ul li a {
    padding: 2rem 0.6rem;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #3DF9AD;
}

.bold {
    font-weight: bold;
}

.sponsorButton {
    background-color: #3DF9AD;
    border-radius: 20px;
    color: #1D2152;
    padding: 0.5rem 1.5rem;
    transition: 0.2s;
}

.sponsorButton:hover {
    color: #fff;
}

#welcome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    background-image: url('../images/scaleconfco_2017.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10vh 0 80vh;
}

.wCenter {
    display: flex;
    justify-content: center;
}

#titleAndDate {
    color: #fff;
    width: 100%;
    margin-top: 10vh;
}

#titleAndDate svg {
    font-weight: 800;
    margin: 0 10%;
}

h1 {
    font-weight: 800;
    font-size: 7rem;
}

.colombia {
    font-weight: 300;
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1rem;
    margin-bottom: 2.5rem;
    color: #fff;
}

.dates {
    background-color: #1D2152;
    color: #3DF9AD;
    font-size: 1.6rem;
    padding: 5px 0;
    margin: 0 35%;
}

#tickets {
    margin: 0 40%;
    margin-top: 2rem;
    background-color: #FFF;
    border-radius: 20px;
    color: #1D2152;
    padding: 0.5rem 1.5rem;
    transition: 0.2s;
}

#tickets:hover {
    background-color: #0099F7;
    color: #FFF;
}

#cfp {
    background-color: #1D2152;
    color: #fff;
    padding: 1rem;
    width:100%;
}

#cfp > * {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

#cfp p {
    font-size: 1.2rem;
    color: #fff;
}

#cfp > div > a:first-child {
    margin-right: 1.5rem;
}

#mailingList {
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

#mailingList div p {
    display: flex;
    justify-content: center;
    margin-bottom: 0.7rem;
    color: #17375D;
    font-weight: bold;
    font-size: 1.2rem;
}

.formEmail {
    width: 35vw;
    margin-right: 0.7rem;
}

.formButton {
    width: 13vw;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.emailInput {
    border: none;
    border-bottom: 1px solid #15274D;
    text-align: center;
}

.blueButton {
    background-color: #0099F7;
    padding: 0.5rem 0.9rem;
    border-radius: 20px;
    margin-top: 0.5rem;
    border-style: none;
    color: #fff;
    text-align: center;
    transition: 0.2s;
}

.blueButton:hover {
    background-color: #3DF9AD;
    color: #fff;
}

#cfp .blueButton {
    min-width: 15rem;
}

h2 {
    color: #17375D;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

h2:after{
    content: "";
    position: absolute;
    width: 7%;
    height: 1.45em;
    left: 15%;
    border-bottom: 3px solid #1D2152;
}

#about > div {
    display: flex;
    flex: center;
}

#about .aboutBlueText {
    color: #0099F7;
    font-size: 1.5rem;
    padding-right: 1em;
    margin-top: 1rem;
}

#about p {
    color: #555;
}

#about, #speakers, #codeOfConduct, #scholarships, footer, #cityGuideIntro, #airports, #airportsToCity, #aroundTheCity, #coffe, #venue, #guideHotels, #hotels, #hotelsGuide, #sponsors, #accessibility {
    margin-left: 15%;
    margin-right: 15%;
}

#speakers > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.speakersC {
    max-width: 40%;
    padding: 0 1%;
    text-align: center;
    flex: 0 0 19%;
}

.speakersC a.speakerTwitter {
    float: right;
    position: relative;
    top: -1.9rem;
}

.speakerImg {
    max-width: 100%;
    margin-top: 1rem;
}

.speakerName {
    color: #0099F7;
    font-size: 1.1rem;
    margin-top: 0.2rem;
    display: inline-flex;
    padding: 0 1rem;
}

.speakerDescription {
    min-height: 4rem;
}

#accessibility p {
    margin: 2rem 0;
}
#accessibility p:last-child {
    margin: 2rem 0 0;
}

#scholarships > p {
    margin-top: 1.6rem
}

#scholarships .blueButton {
    padding: 0.5rem 3rem;
}
#scholarships .blueButton.disabled {
    background-color: #555;
    cursor: default;
}

#codeOfConduct h2 {
    margin-bottom: 4rem;
}

#codeOfConduct p {
    margin: 2rem 0;
}

#codeOfConduct p:last-child {
    margin: 4rem 0 2rem;
}

#codeOfConduct .blueButton {
    padding: 0.5rem 3rem;
}

footer {
    padding: 2.5rem 0 3rem;
    border-top: 2px solid #8d8fa7;
    display: flex;
    justify-content: center;
}

footer > div {
    display: flex;
    flex-direction: column;
}
footer > div > div {
    display: flex;
    justify-content: center;
    padding-bottom: 0.3rem;
}

form {
    margin-bottom: 2rem;
}

.social {
    margin: 1.5rem 0 2rem;
    display: flex;
    justify-content: center;
}

.icon {
    margin: 0.4rem;
    padding: 1rem;
    line-height: 0;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    transition: 0.1s;
    height: 2.4rem;
    width: 2.4rem;
}

.facebook {
    background-image: url('../images/facebook.png');
}

.twitter {
    background-image: url('../images/twitter.png');
}

.instagram {
    background-image: url('../images/instagram.png');
}

.flickr {
    background-image: url('../images/flickr.png');
}

.icon:hover {
    background-position: center top;
}

footer a.mail {
    color: #0099F7;
}
footer a.mail:hover {
    color: #1D2152;
}

footer p.title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #1D2152;
}

.gradient {
    width: 100%;
    height: 1.5rem;
    background-image: linear-gradient(90deg, #57FF9F, #068EFF);
}

section.svg {
    position: relative;
    margin: 0;
    padding: 0;
}
section.svg .svg-cfp {
    height: 11rem;
    position: absolute;
    left: 15rem;
    top: -7.5rem;
}
section.svg .svg-about {
    height: 8rem;
    position: absolute;
    left: -4rem;
    top: -3rem;
}
section.svg .svg-code {
    height: 15rem;
    position: absolute;
    right: 0rem;
    top: -10rem;
}
section.svg .svg-footer {
    height: 15rem;
    position: absolute;
    left: -4rem;
    top: -1rem;
}

.guideLink {
    color: #1D2152;
    text-decoration: underline;
}

.guideLink:hover {
    color: #3DF9AD;
    text-decoration: underline
}

#hotels li {
    list-style-type: none;
    display: flex;
    padding: 1rem;
}

#hotels li img {
    max-width: 21rem;
    max-height: 21rem;
}

#hotels li div {
    padding-left: 1rem;
}

#agenda {
    background-color: #1D2152;
    color: #fff;
    margin-bottom: 7%;
    padding: 7% 10%;
    width: 100%;
}
#agenda h2.bold {
    color: #fff;
}
#agenda h2.bold:after {
    border-bottom-color: #fff;
    left: 10%;
}
#agenda hr {
    background-color: #3DF9AD;
    height: 2px;
}
#agenda .lists {
    display: flex;
}
#agenda .lists .daylist {
    min-width: 50%;
    text-transform: uppercase;
}
#agenda .lists .daylist .daytitle {
    color: #3DF9AD;
    font-size: 1.8rem;
    line-height: 1rem;
}
#agenda .lists ul {
    position: relative;
    list-style: none;
    max-width: 50%;
}
#agenda .lists ul:before {
    content: "";
    background-color: #3DF9AD;
    position: absolute;
    top: 10px;
    bottom: 0;
    width: 2px;
    left: 1rem;
}
#agenda .lists ul li {
    padding-bottom: 1.8rem;
}
#agenda .lists ul li:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3DF9AD;
    left: 7px;
}
#agenda .lists ul li.track .trackhour {
    color: #3DF9AD;
    line-height: 1.2rem;
}
#agenda .lists ul li.track .tracktitle {
    color: #3DF9AD;
    padding-top: 0.8rem;
}
#agenda .lists ul li.track .trackspeaker {
    color: #3DF9AD;
    padding: 0.5rem 0;
}
#agenda .lists ul li.track .trackabstract {
    color: #fff;
    font-size: 1rem;
}
#agenda .lists ul li.track a {
    color: #3DF9AD;
    cursor: pointer;
}
#agenda .lists p {
    font-size: 1.2rem;
    color: #fff;
}

#agenda .lists ul li.track.party > div {
    position: relative;
}
#agenda .lists ul li.track.party .partyinfo {
    position: absolute;
    top: 0;
    padding: 25px 25px 0;
    text-align: center;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.8);
}
#agenda .lists ul li.track.party .partyinfo p.trackinfo {
    color: #3DF9AD;
    line-height: 1.2rem;
}
#agenda .lists ul li.track.party .partyinfo p.place {
    background-color: #3DF9AD;
    display: inline-block;
    padding: 0 1rem;
    text-shadow: none;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    color: #1D2152;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}
#agenda .lists ul li.track.party .partyinfo p.placeaddress {
    font-size: 1rem;
}
#agenda .lists ul li.track.party .partyinfo p.trackabstract {
    font-size: 0.8rem;
}

#sponsors .sponsorsHeader {
    text-align: center;
}
#sponsors .sponsorsHeader h2:after {
    content: unset;
}
#sponsors h3 {
    text-align: center;
    color: #17375D;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2rem;
}
#sponsors .sponsors {
    display: flex;
    flex-direction: row;
    padding: 0 3rem;
    justify-content: center;
}
#sponsors .sponsors .sponsor {
    margin: 1rem 2rem;
    position: relative;
}
#sponsors .sponsors .sponsor img {
    width: 100%;
}
#sponsors .sponsorsGold .sponsors .sponsor {
    width: 30%;
}
#sponsors .sponsorsSilver .sponsors .sponsor {
    width: 25%;
}
#sponsors .sponsorsBronze .sponsors .sponsor,
#sponsors .sponsorsTravel .sponsors .sponsor {
    width: 18%;
    min-width: 16%;
    width: 16%;
}
#sponsors .hiring {
    background-color: #0099F7;
    border-radius: 5px;
    color: #FFF;
    font-size: 0.8rem;
    padding: 0.2rem 1rem;
    position: absolute;
    top: -1.4rem;
    left: 30%;
    z-index: 9;
}
#sponsors .hiring:before {
    content: "";
    background-color: #0099F7;
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -9;
}
#sponsors .sponsorsButton {
    display: flex;
    margin: 2rem 0;
}
#sponsors .sponsorsButton .sponsorButton {
    margin: 0 auto;
}
#sponsors .sponsors .sponsor .sponsorDescription {
    display: none;
    text-align: center;
    transition: 1s ease-in;
}
#sponsors .sponsors .sponsor:hover .sponsorDescription {
    display: block;
    position: absolute;
    z-index: 99;
    background-color: #0099F7;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 0.5rem;
    top: 100%;
}
#sponsors .sponsors .sponsor:hover .sponsorDescription:before {
    content: "";
    background-color: #0099F7;
    position: absolute;
    height: 10px;
    width: 10px;
    top: -2px;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -9;
}
#sponsors .sponsors .sponsor:hover .sponsorDescription p {
    color: #fff;
}

/*   Responsive Media Queries   */
@media screen and (max-width: 970px) {
    nav.nav {
        display: none;
        transition: 1s;
        background-color: rgba(16,15,43,0.5);
    }
    nav.nav.show {
        display: unset;
    }
    nav.nav-mobile {
        display: block;
        position: absolute;
        cursor: pointer;
    }
    nav ul {
        flex-direction: column;
        margin: 0 1rem;
        padding: 0.5rem;
    }
    nav ul li {
        margin: 0;
        padding: 0.7rem;
    }
}
@media screen and (max-width: 768px) {
    section.svg .svg-cfp {
        height: 5rem;
        left: 12rem;
        top: -3rem;
    }
    section.svg .svg-about {
        height: 6rem;
    }
    section.svg .svg-code {
        height: 10rem;
    }
    section.svg .svg-footer {
        height: 12rem;
    }

    section#welcome {
        background-size: cover;
        background-position: center;
        padding: 10vh 0 75vh;
    }
    section#welcome #titleAndDate {
        margin-top: 0;
    }
    
    #titleAndDate svg {
        margin: 0 5% 0;
    }
    #titleAndDate .colombia {
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 0.8rem;
    }
    #titleAndDate .dates {
        text-align: center;
        font-size: 1.3rem;
        margin: 0 30%;
    }
    #titleAndDate #tickets {
        text-align: center;
        margin: 2rem 35%;
    }
    
    section#about div {
        display: block;
    }
    section#about div .aboutBlueText {
        margin-bottom: 1rem;
    }
    
    section#speakers .speakersC {
        flex-basis: 33.33%;
        max-width: 33.33%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
    section#speakers .speakersC .speakerDescription {
        min-height: 6.5rem;
    }
    #agenda .lists ul {
        max-width: unset;
    }
}
@media screen and (max-width: 500px) {
    section#speakers .speakersC {
        flex-basis: 100%;
        max-width: 50%;
    }
    #titleAndDate .dates {
        margin: 0 20%;
    }
    #titleAndDate #tickets {
        text-align: center;
        margin: 2rem 30%;
    }
}
@media screen and (max-width: 400px) {
    section.svg .svg-footer {
        height: 10rem;
    }
    section#speakers .speakersC {
        flex-basis: 100%;
        max-width: 100%;
    }
    section#speakers .speakersC .speakerDescription {
        min-height: 2rem;
    }
    #titleAndDate .colombia {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

/*   Responsive Mobile Nav   */
nav .nav-toggle {
    position: fixed;
    padding: 10px;
    background: transparent;
    border: 1px solid transparent;
    margin: 7px 0;
    z-index: 99;
}
nav .nav-toggle:focus {
    outline-width: 0;
}
nav .nav-toggle [class*='bar-'] {
    background: #3DF9AD;
    display: block;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    border-radius: 2px;
    height: 2px;
    width: 25px;
    margin-bottom: 4px;
}
nav .nav-toggle .bar-bot {
    margin-bottom: 0;
}
nav .opened .bar-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 15% 15%;
    transform-origin: 15% 15%;
}
nav .opened .bar-mid {
    opacity: 0;
}
nav .opened .bar-bot {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 15% 95%;
    transform-origin: 15% 95%;
}
