<nav>
    <ul>
        <li><a href="#cfp">CFP</a></li>
        <li><a href="#venue">VENUE</a></li>
        <li><a href="#hotels">HOTELS</a></li>
        <li><a href="#codeOfConduct">CODE OF CONDUCT</a></li>
        <li><a href="#lastYear">LAST YEAR</a></li>
    </ul>
</nav>
<section id="welcome">
    <h1>SCALECONF COLOMBIA</h1>
    <h2>2018</h2>
    <p>April 27 - 28</p>
    <p>Medellín</p>

</section>
<section id="cfp">
    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <h2>CFP</h2>
    <a href="link-to-cfp.html">link to cfp</a>
</section>
<section id="venue">
    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
        <h2>VENUE</h2>
        <p>Address: <br>Calle 67 # 52-50 <br>Medellín, Colombia <br><br><a class="link"  href="http://www.rutanmedellin.org/">Website</a></p>
        <br><br>
        <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-75.5812168121338%2C6.250928279740571%2C-75.55203437805177%2C6.279040591171097&amp;layer=mapnik&amp;marker=6.264963295215941%2C-75.56662559509277" style="border: 1px solid black"></iframe><br/>

</section>
<section id="hotels">
    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <h2>HOTELS</h2>
    <p>Hotel : Diez Hotel
    <br>
    Address: Calle 10A Nº 34-11
    <br>
    Poblado, Medellin
    <br>
    Phone: (+57 4) 448-1034
    <br>
    Contact: <a href="mailto: natalia.rios@diezhotel.com">natalia.rios@diezhotel.com</a></p>
    <br><br>
    <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=-75.57975769042969%2C6.19491245453969%2C-75.55057525634767%2C6.2230277697490575&amp;layer=mapnik&amp;marker=6.208970299762566%2C-75.56516647338867" style="border: 1px solid black"></iframe><br/>

</section>
<section id="codeOfConduct">
    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <h2>CODE OF CONDUCT</h2>
    <p class='centerText'>A primary goal of ScaleConf Colombia is to be inclusive to the largest number of contributors, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof). This code of conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior.
    <br>
    We invite all those who participate in ScaleConf Colombia to help us create safe and positive experiences for everyone.
    <br><br>
    <a class="link" href="https://github.com/ScaleConfCo/code-of-conduct">Read our Code of Conduct</a>
</p>

</section>
<section id="lastYear">
    <svg id="bigTriangleColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
        <path d="M0 0 L50 100 L100 0 Z" />
    </svg>
    <h2>LAST YEAR</h2>
    <div class="centerText">
        <h3>Speakers</h3>
        <div class="speakers">
            {% for speaker in site.data.speakers %}
                <div class="speaker">
                    <img src="imagesSpeakers/{{speaker.photo}}.png" alt="">
                    <p class="speakerName">{{speaker.name}}</p>
                    <p class="speakerTitle">{{speaker.title}}</p>
                    <a href="https://twitter.com/{{speaker.twitter}}"><img class="icon" src="images/twitter.png" alt="twitter"></a>
                </div>
            {% endfor %}
        </div>
        <div>
            <p class="lastYearLinks">Take a look to  <a href="2017.scaleconfco.com">our last year website</a></p>
            <p class="lastYearLinks">And see <a href="https://www.flickr.com/photos/137671831@N08/">our photos</a></p>
        </div>
    </div>

</section>
<footer>
    <svg id="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="50" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M0 100 C 20 0 50 0 100 100 Z" />
    </svg>

    <div class="curvedown">
        <div class="footerLinks">
            <h2>Let’s stay in touch</h2>
            <p>Join our mailing list</p>
            <p>ScaleConf Colombia 2018©</p>
            <br>
            <form
              action="//scaleconfco.us13.list-manage.com/subscribe/post?u=5e496acbac5eeec4a22312bd0&amp;id=96c6dc44ae"
              method="post">
              <input type="email" name="EMAIL" placeholder="YOU@EMAIL.COM"
              />
              <input type="submit" value="SUBSCRIBE" class="emailSubscribe"/>
            </form>
            <br>
            <a href="mailto: hola@scaleconfco.com">
              hola@scaleconfco.com
            </a>
            <br><br>
            <a href="https://www.facebook.com/scaleconfco/"><img class="icon" src="images/facebook.png" alt="facebook"></a>
            <a href="https://www.twitter.com/scaleconfco/"><img class="icon" src="images/twitter.png" alt="twitter"></a>
            <a href="https://www.flickr.com/photos/137671831@N08/"><img class="icon" src="images/flickr.png" alt="flickr"></a>
            <br><br>
        </div>
    </div>

</footer>

<!-- TODO:
    + Dates
    - Venue
    - Hotels
    - CFP
    - Code of Conduct
    - Speakers from last year’s and their talks.
    - Link to Flicker with pictures from last year’s
    - Link to last year’s website
    - Mailing list subscription
 -->
