<nav>
    <ul>
        <li><a href="http://2017.scaleconfco.com">ScaleConf Colombia 2017</a></li>
        <li><a href="https://www.youtube.com/channel/UCdHVlRwYfuwimfN93OX7JQQ/videos">Conference Videos</a></li>
        <li><a href="#cfp">CFP is open</a></li>
        <li><a href="#codeOfConduct" class="sponsorButton">Become a sponsor</a></li>
    </ul>
</nav>
<section id="welcome">
    <!--<img src="images/scaleconfco_2017.jpg" id="lastYearImage" alt="ScaleConfCO2017">-->
    <div id="titleAndDate">
        <svg viewbox="0 0 10 1.2">
            <text x="4.93" y="0.93" text-anchor="middle" font-size="1" font-family="inherit" fill="none" stroke-width=".015" stroke="#fff">SCALECONF</text>
            <text x="5" y="1" text-anchor="middle" font-size="1" font-family="inherit" fill="#fff">SCALECONF</text>
        </svg>
        <p class="colombia wCenter">COLOMBIA</p>
        <p class="dates wCenter">April 27 - 28th 2018</p>
    </div>
</section>
<section class="svg">
    {% include fig_4.svg %}
</section>
<section id="cfp">
    <h3 class="bold">Our CFP is open</h3>
    <p>Come to visit beautiful Colombia and<br>share your knowledge</p>
    <div>
        <a href="https://www.papercall.io/scaleconfco2018" class="blueButton">Apply for a talk</a>
        <a href="https://www.papercall.io/scaleconfco2018-lightning" class="blueButton">Apply for a lightning talk</a>
    </div>
</section>
<section id="mailingList">
    <div>
        <p class="title">Stay tuned, join our mailing list</p>
        <form
          action="//scaleconfco.us13.list-manage.com/subscribe/post?u=5e496acbac5eeec4a22312bd0&amp;id=96c6dc44ae"
          method="post">
          <input type="email" name="EMAIL" placeholder="" class="emailInput formEmail"
          />
          <input type="submit" value="Join" class="emailSubscribe blueButton formButton"/>
        </form>
    </div>
</section>
<section class="svg">
    {% include fig_1.svg %}
</section>
<section id="about">
    <h2 class="bold">About the conference</h2>
    <div>
        <div>
        <p class="aboutBlueText">ScaleConf Colombia is non-profit conference organized by volunteers to bring knowledge on scalability, DevOps and modern software tools to the community.</p>
        </div>
        <div>
        <p>Our main objetive is to level up the community’s knowledge, by bringing great speakers from the teams that are paving the way for a global scale in tomorrow’s apps and services.</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget dapibus neque. Praesent pretium, sem a semper auctor, turpis sapien commodo urna,.</p>
        </div>
    </div>
</section>
<section class="svg">
    {% include fig_2.svg %}
</section>
<section id="codeOfConduct">
    <h2 class="bold">Code of Conduct</h2>
    <p>A primary goal of ScaleConf Colombia is to be inclusive to the largest number of contributors, with the most varied and diverse backgrounds possible.</p>
    <p>such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, and religion (or lack thereof). This code of conduct outlines our expectations for all those who participate in our community, as well as the consequences for unacceptable behavior. We invite all those who participate in ScaleConf Colombia to help us create safe and positive experiences for everyone.</p>
    <p>
        <a href="https://github.com/ScaleConfCo/code-of-conduct" class="blueButton">Read our Code of Conduct</a>
    </p>
</section>
<section class="svg">
    {% include fig_3.svg %}
</section>
<footer>
    <div>
        <p class="title">Let’s stay in touch, follow us</p>
        <div class="social">
            <a href="https://www.facebook.com/scaleconfco/"><i class="icon facebook" alt="facebook"></i></a>
            <a href="https://www.twitter.com/scaleconfco/"><i class="icon twitter" alt="twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="icon instagram" alt="instagram"></i></a>
            <a href="https://www.flickr.com/photos/137671831@N08/"><i class="icon flickr" alt="flickr"></i></a>
        </div>
        <div>
            <p class="title">Got any questions?</p>
        </div>
        <div>
            <a href="mailto: hola@scaleconfco.com" class="mail">hola@scaleconfco.com</a>
        </div>
    </div>
</footer>
<div class="gradient"></div>
