{% assign t = site.data.lang.[page.lang] %}
<nav class="nav-mobile">
    <button class="nav-toggle">
        <span class="bar-top"></span>
        <span class="bar-mid"></span>
        <span class="bar-bot"></span>
    </button>
</nav>
<nav class="nav">
    <ul>
        <li><a href="http://2017.scaleconfco.com">{{ t.nav[0] }}</a></li>
        <li><a href="https://www.youtube.com/channel/UCdHVlRwYfuwimfN93OX7JQQ/videos">{{ t.nav[1] }}</a></li>
        <li><a href="#codeOfConduct">{{ t.nav[2] }}</a></li>
        <li><a href="mailto:hola@scaleconfco.com" class="sponsorButton">{{ t.nav[3] }}</a></li>
        <li><a href="/" class="nav-lang {% if page.lang == 'en' %}active{% endif %}">EN</a></li>
        <li><a href="/es/" class="nav-lang {% if page.lang == 'es' %}active{% endif %}">ES</a></li>
    </ul>
</nav>
<section id="welcome">
    <!--<img src="images/scaleconfco_2017.jpg" id="lastYearImage" alt="ScaleConfCO2017">-->
    <div id="titleAndDate">
        <svg viewbox="0 0 10 1.2">
            <text x="4.93" y="0.93" text-anchor="middle" font-size="1" font-family="inherit" fill="none" stroke-width=".015" stroke="#fff">SCALECONF</text>
            <text x="5" y="1" text-anchor="middle" font-size="1" font-family="inherit" fill="#fff">SCALECONF</text>
        </svg>
        <p class="colombia wCenter">COLOMBIA</p>
        <p class="dates wCenter">{{ t.date }}</p>
        <a href="https://ti.to/scaleconf-colombia/scaleconfco" id="tickets" class="wCenter">{{ t.tickets }}</a>
    </div>
</section>
<section class="svg">
    {% include fig_4.svg %}
</section>
<section id="mailingList">
    <div>
        <p class="title">{{ t.mailing.title }}</p>
        <form action="//scaleconfco.us13.list-manage.com/subscribe/post?u=5e496acbac5eeec4a22312bd0&amp;id=96c6dc44ae" method="post">
            <input type="email" name="EMAIL" placeholder="" class="emailInput formEmail"
            />
            <input type="submit" value="{{ t.mailing.button }}" class="emailSubscribe blueButton formButton"/>
        </form>
        <p class="title">{{ t.mailing.follow }}</p>
        <div class="social">
            <a href="https://www.facebook.com/scaleconfco/"><i class="icon facebook" alt="facebook"></i></a>
            <a href="https://www.twitter.com/scaleconfco/"><i class="icon twitter" alt="twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="icon instagram" alt="instagram"></i></a>
            <a href="https://www.flickr.com/photos/137671831@N08/"><i class="icon flickr" alt="flickr"></i></a>
        </div>
    </div>
</section>
<section class="svg">
    {% include fig_1.svg %}
</section>
<section id="about">
    <h2 class="bold">{{ t.about.title }}</h2>
    <div>
        <div>
            <p class="aboutBlueText">{{ t.about.blue }}</p>
        </div>
        <div>
            <p>{{ t.about.first }}</p>
            <br>
            <p>{{ t.about.second }}</p>
        </div>
    </div>
</section>
<section id="speakers">
    <h2 class="bold">{{ t.speakers.title }}</h2>
    <div>
        {% for speaker in site.data.speakers %}
        <div class="speakersC">
            <img src="images/speakers/{{ speaker.photo }}.png" alt="{{ speaker.twitter }}" class="speakerImg">
            <p class="speakerName">{{ speaker.name }}</p>
            <p class="speakerDescription">{{ speaker.description }}</p>
            <a href="https://www.twitter.com/{{ speaker.twitter }}"><i class="icon twitter" alt="twitter"></i></a>
        </div>
        {% endfor %}
    </div>
</section>
<section id="scholarships">
    <h2 class="bold">{{ t.scholarships.title }}</h2>
    <div>
        <p>{{ t.scholarships.first }}</p>
        <br>
        <p>{{ t.scholarships.second }}</p>
    </div>
    <p>
        <a href="http://goo.gl/s1MLAq" class="blueButton">{{ t.scholarships.button }}</a>
        <br>
        <br>
        <a href="https://donorbox.org/scaleconf-colombia-diversity-program" class="blueButton">{{ t.scholarships.sponsor }}</a>
    </p>
</section>
<section class="svg">
    {% include fig_2.svg %}
</section>
<section id="hotelsGuide">
    <h2 class="bold">{{ t.hotelsGuide.title }}</h2>
    <p>{{ t.hotelsGuide.info }}</p>
    <br>
    <p>
        <a href="/city-guide" class="blueButton">{{ t.hotelsGuide.cityGuide }}</a>
        <a href="/hotels" class="blueButton">{{ t.hotelsGuide.hotels }}</a>
    </p>
</section>
<section id="codeOfConduct">
    <h2 class="bold">{{ t.code.title }}</h2>
    <p>{{ t.code.first }}</p>
    <p>{{ t.code.second }}</p>
    <p>
        <a href="https://github.com/ScaleConfCo/code-of-conduct" class="blueButton">{{ t.code.button }}</a>
    </p>
</section>
<section class="svg">
    {% include fig_3.svg %}
</section>
<footer>
    <div>
        <p class="title">{{ t.footer.title }}</p>
        <div class="social">
            <a href="https://www.facebook.com/scaleconfco/"><i class="icon facebook" alt="facebook"></i></a>
            <a href="https://www.twitter.com/scaleconfco/"><i class="icon twitter" alt="twitter"></i></a>
            <a href="https://www.instagram.com/"><i class="icon instagram" alt="instagram"></i></a>
            <a href="https://www.flickr.com/photos/137671831@N08/"><i class="icon flickr" alt="flickr"></i></a>
        </div>
        <div>
            <p class="title">{{ t.footer.question }}</p>
        </div>
        <div>
            <a href="mailto:hola@scaleconfco.com" class="mail">hola@scaleconfco.com</a>
        </div>
    </div>
</footer>
<div class="gradient"></div>
<script>
    (function () {
        var nav_toggle = document.querySelector('.nav-toggle');
        var nav = document.querySelector('.nav');
        nav_toggle.addEventListener('click', function(e) {
            this.classList.toggle('opened');
            nav.classList.toggle('show');
        });
    })();
</script>